<a href="https://colab.research.google.com/github/nishigandha2/Topic-Modeling-on-News-Articles/blob/main/Copy_of_News_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np
import glob
import os

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
data_folder = "/content/drive/MyDrive/Dataset/TOPIC MODELLING BBC NEWS "
folders = ["business","entertainment","politics","sport","tech"]

In [52]:
os.listdir(data_folder)

['README.TXT', 'folder']

In [53]:
files = os.listdir('/content/drive/MyDrive/Dataset/TOPIC MODELLING BBC NEWS ')

In [54]:
folderslist = [f for f in os.listdir(data_folder) if not f.startswith('.')]

In [55]:
folderslist

['README.TXT', 'folder']

In [56]:
news = []
newstype = []

In [57]:
for folder in folders:
    folder_path ="/content/drive/MyDrive/Dataset/TOPIC MODELLING BBC NEWS /folder/"+folder+'/'
    files = os.listdir(folder_path)
    for text_file in files:
        file_path = folder_path + "/" +text_file
        with open(file_path, errors='replace') as f:
            data = f.readlines()
        data = ' '.join(data)
        news.append(data)
        newstype.append(folder)

In [58]:
len(newstype)

2225

In [59]:
#make a dict of news and its corresponding type
datadict = {'news':news, 'type':newstype}

In [60]:
#write the dictionary to a csv file
df = pd.DataFrame(datadict)
df.to_csv('./bbc.csv')

In [61]:
data = pd.read_csv('bbc.csv')

In [62]:
data

      Unnamed: 0                                               news      type
0              0  Yukos unit buyer faces loan claim\n \n The own...  business
1              1  Ad sales boost Time Warner profit\n \n Quarter...  business
2              2  Dollar gains on Greenspan speech\n \n The doll...  business
3              3  US trade gap hits record in 2004\n \n The gap ...  business
4              4  High fuel prices hit BA's profits\n \n British...  business
...          ...                                                ...       ...
2220        2220  BT program to beat dialler scams\n \n BT is in...      tech
2221        2221  Bad e-mail habits sustains spam\n \n The 'bad ...      tech
2222        2222  Microsoft plans 'safer ID' system\n \n Microso...      tech
2223        2223  Camera phones are 'must-haves'\n \n Four times...      tech
2224        2224  Beckham virus spotted on the net\n \n Virus wr...      tech

[2225 rows x 3 columns]

In [63]:
data.describe()

        Unnamed: 0
count  2225.000000
mean   1112.000000
std     642.446496
min       0.000000
25%     556.000000
50%    1112.000000
75%    1668.000000
max    2224.000000

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2225 non-null   int64
 1   news        2225 non-null   object
 2   type        2225 non-null   object
dtypes: int64(1), object(2)
memory usage: 52.3+ KB